<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include 'meta' %}
    <style>
      {% include 'app.compiled.css' %}
    </style>
  </head>
  <body>
    <main id='main' class='antialiased text-black-apple dark:text-white-apple dark:bg-black transition-colors'>
      <section class='px-5 md:px-0 pt-6'>
        <div class='relative max-w-screen-sm m-0 m-auto text-center h-auto flex flex-col items-center'>
        <button aria-label='Dark mode' id='dark-btn' class='absolute right-0 rounded-full w-9 h-9 bg-gray dark:bg-gray-dark dark:text-white-apple'>
          {{ '/src/_assets/icons/night.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current' }}
        </button>
        <video width='150' height='150' preload='none' loop autoplay playsinline muted>
          <source src='_assets/videos/compressed.webm' type='video/webm' />
          <source src='_assets/videos/memoji.mp4' type='video/mp4' />
        </video>
        <h1 class='font-bold text-3xl mb-3'>Hey, I'm Vitor</h1>
        <p class='text-gray-text dark:text-gray-text-dark w-full md:w-8/12'>Began coding Minecraft mods as a kid and I guess I couldn’t stop ever since. Full-stack web developer. Based in Liverpool, U.K.</p>
      </div>
    </section>

    <div class='px-5 md:px-0'>
      <div class='h-px max-w-screen-sm m-0 m-auto bg-gray-slight dark:bg-gray-slight-dark my-5'></div>
    </div>

    <section class='px-5 md:px-0'>
      <div class='max-w-screen-sm m-0 m-auto h-auto flex flex-col'>
        <h2 class='text-2xl md:text-3xl font-bold'>Projects</h2>
        <span class='text-gray-text dark:text-gray-text-dark text-sm md:text-base'>What I've done during my free time</span>

        <ul class='flex flex-col mt-3'>
          <li>
            <div aria-expanded='false' class='flex flex-row items-center accordion cursor-pointer'>
              <div class='rounded-2xl bg-gradient-to-r from-pixelado-pink via-pixelado-blue to-pixelado-green w-17 h-17 md:w-18 md:h-18 mr-4'></div>
              <div class='flex flex-col justify-center'>
                <h3>Pixelado</h3>
                <span class='text-gray-text dark:text-gray-text-dark text-smsm'>Draw and share your (pixel) art</span>
              </div>
              <button aria-label='Open' class='relative rounded-full w-9 h-9 bg-gray ml-auto dark:bg-gray-dark dark:text-white transition-transform transform hover:rotate-90 focus:rotate-90'>
                {{ '/src/_assets/icons/right-arrow.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current' }}
              </button>
            </div>

            <div class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <div class='flex flex-col space-y-2'>
                <div>
                  <span class='font-bold'>Pixelado</span> started as a simple etch-a-sketch; however, as I kept improving my skills, I kept adding features to pixelado. Now, it has user authentication, comment system, and user profiles. You can draw on a 64x64 grid and publish it for others to see.
                </div>
                <div>
                  <strong>Pixelado</strong>'s front-end is built with HTML, CSS, Javascript, and Svelte. The back-end is built with Node.js, Express and MongoDB. The back-end follows the Clean Architecture principle, along with the DDD and TDD principles.
                </div>
                <div class='flex flex-col'>
                  <a href='https://pixelado.netlify.app' class='font-bold text-blue dark:text-blue-dark'>Visit website</a>
                  <a href='https://github.com/kibebr/pixelado' class='font-bold text-blue dark:text-blue-dark'>Visit source code</a>
                </div>
              </div>
            </div>

            <div class='h-px w-line float-right mt-2.5 bg-gray-slight dark:bg-gray-slight-dark'></div>
          </li>

          <li>
            <div aria-expanded='false' class='flex flex-row mt-3.5 items-center accordion cursor-pointer'>
              <div class='relative flex justify-center bg-white items-center flex-shrink-0 rounded-2xl border border-gray-apple w-17 h-17 md:w-18 md:h-18 mr-4'>
                <span class='text-white text-sm italic bg-black overflow-x-hidden'>
                  NOVAS
                </span>
              </div>
              <div class='flex flex-col justify-center'>
                <h3>Novas</h3>
                <span class='text-gray-text dark:text-gray-text-dark text-smsm'>News website</span>
              </div>
              <button aria-label='Open' class='relative flex-shrink-0 rounded-full w-9 h-9 bg-gray ml-auto dark:bg-gray-dark dark:text-white transition-transform transform hover:rotate-90 focus:rotate-90'>
                {{ '/src/_assets/icons/right-arrow.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current'}}
              </button>
            </div>
            <div class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <div class='flex flex-col space-y-2'>
                <div>
                  <strong>Novas</strong> is a general news website. Its articles are separated in 6 categories: general, business, science, entertainment, health, and technology. 
                </div>
                <div>
                  <strong>Novas</strong> uses HTML, CSS, TailwindCSS, React.js, Next.js, Styled Components, and Typescript.<br>
                  <strong>Novas</strong> uses the Jamstack principle; all categories and their articles are fetched (100% functionally) using the fp-ts library. Once fetched, Next.js generates a static page for each article.<br>
                  <strong>Novas</strong> uses
                  <a href='https://newsapi.org' class='text-blue dark:text-blue-dark'>NewsAPI</a> as its API to find articles.
                </div>
                <div class='flex flex-col'>
                  <a href='https://novas-eight.vercel.app' class='font-bold text-blue dark:text-blue-dark'>Visit website</a>
                  <a href='https://github.com/kibebr/novas' class='font-bold text-blue dark:text-blue-dark'>Visit source code</a>
                </div>
              </div>
            </div>
            <div class='h-px w-line float-right mt-2.5 bg-gray-slight dark:bg-gray-slight-dark'></div>
          </li>

          <li>
            <div aria-expanded='false' class='flex flex-row items-center mt-3.5 accordion cursor-pointer'>
              <div class='rounded-2xl bg-green-500 w-17 h-17 md:w-18 md:h-18 mr-4 flex justify-center items-center'>
                <span class='text-white font-bold text-5xl'>S</span>
              </div>

              <div class='flex flex-col justify-center'>
                <h3>Spotiswype</h3>
                <span class='text-gray-text dark:text-gray-text-dark text-smsm'>Find songs you'll enjoy just by swiping</span>
              </div>
              <button aria-label='Open' class='relative flex-shrink-0 rounded-full w-9 h-9 bg-gray ml-auto dark:bg-gray-dark dark:text-white transition-transform transform hover:rotate-90 focus:rotate-90'>
                {{ '/src/_assets/icons/right-arrow.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current' }}
              </button>
            </div>
            <div class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <div class='flex flex-col space-y-2'>
                <div>
                  <strong>Spotiswype</strong> lets you find new songs that match your taste by using your Spotify's Liked Songs or any of your playlists. Simply connect your Spotify account with Spotiswype, and swipe songs you enjoy, like Tinder.
                </div>
                <div>
                  <strong>Spotiswype</strong>'s front-end is built with HTML, CSS, TailwindCSS, Typescript, and React.js. It extensively uses the Spotify API to fetch the user's playlists and Liked Songs. The fetching of data is 100% functional and the fp-ts library is used.
                </div>
                <div class='flex flex-col'>
                  <a href='https://spotiswype.netlify.app' class='font-bold text-blue dark:text-blue-dark'>
                    Visit website
                  </a>
                  <a href='https://github.com/kibebr/spotiswype' class='font-bold text-blue dark:text-blue-dark'>
                    Visit source code
                  </a>
                </div>
              </div>
            </div>
            <div class='h-px w-line float-right mt-2.5 bg-gray-slight dark:bg-gray-slight-dark'></div>
          </li>

          <li>
            <div aria-expanded='false' class='flex flex-row items-center accordion cursor-pointer mt-3.5'>
              <div class='w-17 h-17 md:w-18 md:h-18 mr-4 flex-shrink-0'>
                {% Image './src/_assets/images/fp-ts.png', 'fp-ts Logo', 'rounded-2xl' %}
              </div>
              <div class='flex flex-col justify-center'>
                <h3>fp-ts Website</h3>
                <span class='text-gray-text dark:text-gray-text-dark text-smsm'>Brand new home for the fp-ts library</span>
              </div>
              <div class='flex flex-row ml-auto items-center space-x-2'>
                <div class='font-bold bg-red dark:bg-red-dark text-white rounded-sm p-1 text-xs tracking-wide text-center'>
                  WORK IN PROGRESS
                </div>
                <button aria-label='Open' class='relative flex-shrink-0 rounded-full w-9 h-9 bg-gray dark:bg-gray-dark dark:text-white transition-transform transform hover:rotate-90 focus:rotate-90'>
                  {{ '/src/_assets/icons/right-arrow.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current' }}
                </button>
              </div>
            </div>

            <div class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <div class='flex justify-center items-center'>
                {% Image './src/_assets/images/fp-ts-website.png', 'A phone with this portfolio on the screen.', 'w-96 h-40 rounded-md' %}
              </div>

              <div class='my-2'></div>

              <div>
                <a href='https://github.com/gcanti/fp-ts'>fp-ts</a> is the number one functional programming library for Typescript. In contrast to its creator, I am not an expert in functional programming; however, I figured out I could still somehow contribute to the library: some people, including me, find fp-ts' docs not to be that convenient. I then decided to create a brand new docs for fp-ts with a few things in mind: better and faster search, keyboard-driven, and with a collection of tutorials for beginners.
              </div>

              <div class='my-2'></div>

              <div>
                The website will be developed in Next.js. And the scripts to generate the docs will use Typescript, fp-ts, and TypeDoc.
              </div>
            </div>

            <div class='h-px w-line float-right mt-2.5 bg-gray-slight dark:bg-gray-slight-dark'></div>
          </li>
          <li>
            <div aria-expanded='false' class='flex flex-row mt-3.5 items-center accordion cursor-pointer'>
              <div class='rounded-2xl flex-shrink-0 bg-wasm bg-cover w-17 h-17 md:w-18 md:h-18 mr-4'></div>
              <div class='flex flex-col justify-center'>
                <h3>WASM Games</h3>
                <span class='text-gray-text dark:text-gray-text-dark text-smsm'>Games written in C ported to browsers</span>
              </div>
              <button aria-label='Open' class='relative flex-shrink-0 rounded-full w-9 h-9 bg-gray ml-auto dark:bg-gray-dark dark:text-white transition-transform transform hover:rotate-90 focus:rotate-90'>
                {{ '/src/_assets/icons/right-arrow.svg' | svgContents: 'absolute w-4 h-4 inset-center fill-current' }}
              </button>
            </div>

            <div class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <div class='flex flex-col space-y-2'>
                <div>
                  WebAssembly is a low-level assembly language that runs in browsers. It can be used as a compilation target for languages such as a C, C++, and Rust. In simpler terms, it lets you run code that is not Javascript in browsers. I know C, and decided to write a few games to see them run in a web browser. It uses Emscripten to compile C to WebAssembly. 
                </div>
                <div class='flex flex-col'>
                  <a href='https://github.com/kibebr/sdl-to-wasm-games' class='font-bold text-blue dark:text-blue-dark'>Visit source code.</a>
                </div>
              </div>
            </div>

          </li>

        </ul>

        <div id='projects-cards' class='flex flex-col mt-5'>

          <div class='w-full h-128 md:h-72 bg-gray rounded-2xl p-8 flex flex-col md:flex-row dark:bg-gray-dark justify-between' data-tilt>
            <div class='w-full md:w-1/2 flex flex-col space-y-4'>
              <div>
                <h2 class='text-3xl font-bold'>Portfolio</h2>
                <p class='text-gray-600 dark:text-gray-text-dark'>Developed using the principles of <a href='https://jamstack.org/' class='text-purple-600 font-bold hover:underline'>Jamstack</a>.</p>
              </div>
              <div class='font-bold flex flex-row md:flex-col text-gray-text dark:text-gray-text-dark text-smsm mt-auto'>
                <div>
                  <span class>POWERED BY</span>
                  <div class='flex flex-row'>
                    {{ '/src/_assets/icons/javascript.svg' | svgContents: 'w-10 h-10 fill-current mr-1' }}
                    <a aria-label='Eleventy website' href='https://11ty.dev/'>{{ '/src/_assets/icons/eleventy.svg' | svgContents: 'w-10 h-10 fill-current' }}</a>
                    <a aria-label='Tailwind website' href='https://tailwindcss.com/'>{{ '/src/_assets/icons/tailwindcss.svg' | svgContents: 'w-10 h-10 fill-current' }}</a>
                  </div>
                </div>
                <a href='https://github.com/kibebr/personal-website' class='md:mt-3'>VIEW SOURCE</a>
              </div>
            </div>
            <div class='flex justify-center'>
              {% Image './src/_assets/images/cel.png', 'A phone with this portfolio on the screen.', 'filter-dropshadow' %}
            </div>
          </div>

          {% comment %} <div class='w-full h-128 md:h-96 bg-white border border-grey shadow-sm rounded-2xl mt-3 flex flex-row p-8' data-tilt> {% endcomment %}
          {% comment %}   <div class='flex flex-col w-full items-center'> {% endcomment %}
          {% comment %}     <span class='text-white bg-black text-5xl font-bold italic'>NOVAS</span> {% endcomment %}
          {% comment %}     <div class='my-1'></div> {% endcomment %}
          {% comment %}     <p class='text-gray-text'>News website. Made with Next.js.</p> {% endcomment %}
          {% comment %}     <div class='flex flex-row h-40'> {% endcomment %}
          {% comment %}       {% Image './src/_assets/images/cut-novas-desktop.png', 'fp-ts Logo', 'rounded-2xl' %} {% endcomment %}
          {% comment %}       {% Image './src/_assets/images/cut-novas-mobile.png', 'fp-ts Logo', 'rounded-2xl' %} {% endcomment %}
          {% comment %}     </div> {% endcomment %}
          {% comment %}   </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}
          
        </div>
      </div>
    </section>

    <div class='px-5 md:px-0'>
      <div class='h-px max-w-screen-sm m-0 m-auto bg-gray-slight dark:bg-gray-slight-dark my-5'></div>
    </div>

    <section class='px-5 md:px-0'>
      <div class='max-w-screen-sm m-0 m-auto h-auto'>
        <h2 class='font-bold text-3xl'>Articles</h2>
        <div class='flex flex-col mt-3'>
          <div class='flex flex-col md:flex-row mb-3'>
            <span class='text-gray-text dark:text-gray-text-dark mr-3'>Apr 23</span>
            <a href='https://medium.com/swlh/i-made-a-game-in-c-run-in-a-web-browser-and-so-can-you-2911b9fe2368?sk=b839987dd50740634c898d90d7673bc7' class='text-blue-700'>I made a game in C run in a web browser and so can you</a>
          </div>
        </div>
      </div>
    </section>

    <section class='bg-black text-white-apple mt-5 h-auto px-5 md:px-0 py-20'>
      <div class='max-w-screen-sm m-0 m-auto h-auto text-center'>
        <h2 class='font-bold text-2xl md:text-3xl'>
          I strive to 
          <span id='strives-placeholder' class='text-red-dark'></span>
        </h2>
        <ul class='mt-10' aria-label='FAQ'>

          <li class='border-b py-5 pb-4 border-gray-slight-dark'>
            <div aria-controls='content-1' aria-expanded='false' class='flex flex-row justify-between faq-accordion accordion cursor-pointer'>
              <span class='font-bold text-lg md:text-xl'>Why is performance important?</span>
              <button aria-label='Open' class='relative rounded-full w-8 h-8 bg-gray-text-dark transform transition-transform'>
                {{ '/src/_assets/icons/plus.svg' | svgContents: 'absolute inset-center w-4 h-4' }}
              </button>
            </div>
            <div id='content-1' class='opacity-0 overflow-hidden transition-all duration-500 max-h-0 text-left' aria-hidden='true'>
              <div class='font-bold text-gray-text-dark'>
                According to Amazon, 100ms more of latency could result them 1% of their sales. According to Google, 500ms of latency could drop its traffic by 20%. Nowadays, more than ever, performance is important for businesses. 
              </div>
            </div>
          </li>

          <li class='border-b py-5 pb-4 border-gray-slight-dark'>
            <div aria-controls='content-2' aria-expanded='false' class='flex flex-row justify-between faq-accordion accordion cursor-pointer'>
              <span class='font-bold text-lg md:text-xl'>Accessibility in the web</span>
              <button aria-label='Open' class='relative rounded-full w-8 h-8 bg-gray-text-dark transform transition-transform'>
                {{ '/src/_assets/icons/plus.svg' | svgContents: 'absolute inset-center w-4 h-4' }}
              </button>
            </div>
            <div id='content-2' class='opacity-0 overflow-hidden transition-all duration-500 max-h-0' aria-hidden='true'>
              <p class='text-left text-gray-text-dark font-bold'>
              According to Scope and quoting UK government figures, there are ~13.9 million disabled people in the UK. Out of those, 2 million, for instance, have a sight loss that impacts their lives. When designing a website, it is important to keep in mind that 
              </p>
            </div>
          </li>
        </div>
      </div>
    </section>

    <section class='flex justify-center px-5 md:px-0 bg-gray-dark text-white-apple h-56'>
      <div class='flex flex-col text-center py-6 max-w-screen-sm m-0 m-auto'>
        <h2 class='font-bold text-3xl'>Let's work together.</h2>
        <p class='text-gray-text-dark mt-3'>Do you have a project in mind? Let's talk about it. Coffee is on me.</p>
        <a class='mt-3 font-bold text-blue-dark hover:underline' href='mailto:vitordriguesss@gmail.com'>Email me</a>
      </div>
    </section>
  </main>

  <script>
    {% capture additional %}
      const strives = [{
        content: 'write quality code.',
        color: 'text-red-dark'
      }, {
        content: 'develop accessible software.',
        color: 'text-blue-dark'
      }, {
        content: 'consider performance.',
        color: 'text-yellow-dark'
      }]
      const strivesPlaceholder = document.getElementById('strives-placeholder')
      const accordions = document.querySelectorAll('.accordion')

      accordions.forEach(a => {
        const content = a.nextElementSibling
        const button = a.children[2] || a.children[1]

        a.onclick = () => {
          const isAlreadyOpen = content.classList.contains('open')
          a.setAttribute('aria-expanded', !isAlreadyOpen)
          content.setAttribute('aria-hidden', isAlreadyOpen)
          content.classList.toggle('open')
          content.classList.toggle('h-auto')
          content.classList.toggle('max-h-96')
          content.classList.toggle('opacity-0')
          content.classList.toggle('mt-3')

          if (a.classList.contains('faq-accordion')) {
            button.classList.toggle('rotate-45')
          } else {
            button.classList.toggle('-rotate-90')
          }
        }
      })

      const setStrive = (strive) => {
        strivesPlaceholder.textContent = strive.content
        strivesPlaceholder.className = strive.color
      }

      setStrive(strives[0])
      let i = 1
      setInterval(() => {
        setStrive(strives[i])

        i += 1

        if (i >= strives.length) {
          i = 0
        }
      }, 2000)
    {% endcapture %}

    {% capture js %}
      {{ additional }}
      {% include 'scripts/dark-mode.js' %}
      {% include 'scripts/tab-mouse-detect.js' %}
      {% include 'scripts/tilt.js' %}
    {% endcapture %}

    {{ js | jsmin }}
  </script>
</body>
</html>
